<table class="table table-bordered">
  <thead>
    <tr>
      <td>Address ID</td>
      <td>Address Line1</td>
      <td>Address Line 2</td>
      <td>City</td>
      <td>State Province ID</td>
      <td>Postal Code</td>
      <td>Spatial Location</td>
      <td>Row Guid</td>
      <td>Modified Date</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let add of Address">
      <td>{{add.AddressID}}</td>
      <td>{{add.AddressLine1}}</td>
      <td *ngIf="add?.AddressLine2" >{{add.AddressLine2}}</td>
      <td>{{add.City}}</td>
      <td>{{add.StateProvinceID}}</td>
      <td>{{add.PostalCode}}</td>
      <td>{{add.SpatialLocation}}</td>
      <td>{{add.rowguid}}</td>
      <td>{{add.ModifiedDate}}</td>
    </tr>
  </tbody>
</table>
